<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EAC Rapidly Deployable Experts Pool</title>
</head>
<body>
    <img src="https://www.eac.int/images/EAC_Logo_web_0.png" height="50px"><br>
    <h3>EAC African Community Deployable Experts Pool</h3>
<div class="margin-top:4%">
        Thank you for creating an account with us. Kindly confirm your email address by clicking
        <a href={{app_url}}/confirm-email/{{username}}/{{otp}}>this link</a>
   OR Paste the following link on your browser {{app_url}}/confirm-email/{{username}}/{{otp}}
</div>
</body>
</html>